{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price %}
	{% set unitPrice   = product.calculatedPrice.unitPrice %}
	{% set financeExt  = product.extensions.credovaFinance ?? {} %}
	{% set minAmount   = financeExt.minFinanceAmount ?? 0 %}
	{% set maxAmount   = financeExt.maxFinanceAmount ?? 999999 %}
	{% set storeCode   = financeExt.storeCode ?? null %}
	{% set environment = (financeExt.mode ?? 'sandbox')|lower %}
	{% set dataMessage     = financeExt.dataMessage ?? '' %}
	{% set showCredovaLogo = financeExt.showCredovaLogo %}

	{{ parent() }}

	{% if unitPrice is not null
		and unitPrice >= minAmount
		and unitPrice <= maxAmount
		and storeCode
	%}
		{% set containerId = 'credova-prequalify-' ~ product.id %}
		<div
				id="{{ containerId }}"
				data-credova="1"
				data-store-code="{{ storeCode }}"
				data-environment="{{ environment }}"
				data-amount="{{ unitPrice }}"
				data-currency="{{ context.currency.isoCode }}"
		>
			<p class="credova-button"
			   data-amount="{{ unitPrice }}"
			   data-type="popup"
			   data-hide-brand={{showCredovaLogo}}
			   data-message={{dataMessage}}>
			</p>
		</div>
	{% endif %}

	<script src="https://plugin.credova.com/plugin.min.js" defer></script>
{% endblock %}