{% if page.extensions.credova_payment is defined %}
    {% set credova = page.extensions.credova_payment %}

    <div class="credova-accordion-container">
        {% if credova.errors is defined and credova.errors|length > 0 %}
            <button type="button" class="accordion"> Credova validation</button>
            <div class="panel credova-error-panel">
                <ul class="credova-error-list">
                    {% for field, message in credova.errors %}
                        <li class="credova-error-item">
                            <span class="credova-error-field">{{ field|capitalize }}:</span>
                            <span class="credova-error-message">{{ message }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <template credova-payment-pay-later></template>

    <div data-credova-payment-pay-later="true"
         data-store-code="{{ credova.storeCode }}"
         data-mode="{{ credova.mode }}"
            {% if credova.errors is defined %}
                data-errors='{{ credova.errors|json_encode }}'
            {% endif %}
    >
    </div>
{% endif %}
